.App {
  margin-left: 200px;
  padding: 0px 10px;
}

.appForms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

h2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sideNav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  padding-right: 30px;
  border-width: 2px;
  border-color: lightgray;
  border-right-style: solid;
}
.sideNav a {
  padding: 6px 8px 30px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}
.sideNav a:hover {
  cursor: pointer;
  color: rgb(82, 76, 76);
}
.sideNav p {
  padding: 6px 8px 30px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}
.sideNav p:hover {
  cursor: pointer;
}

label {
  margin-left: 30px;
  display: inline-block;
  width: 267px;
  text-align: left;
  font-weight: bold;
  align-items: flex-start;
}

input {
  margin-top: 3px;
  display: flex;
  align-items: flex-start;
}

button {
  margin-top: 15px;
  margin-left: 70px;
}

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.photosBorder {
  border-style: solid;
  border-width: 2px;
  width: 600px;
  padding: 10px;
  margin-bottom: 50px;
}
.photosBorder h2 {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

img {
  width: 600px;
}
img:hover {
  cursor: pointer;
}

.updateFRM {
  display: flex;
  flex-direction: row;
  width: 800px;
  padding: 0;
  margin: 0;
}
.updateFRM input {
  margin: 0;
  margin-left: 5px;
  margin-top: 3px;
  padding: 0;
}
.updateFRM button {
  margin: 0;
  margin-left: 15px;
  width: 60px;
  height: 22px;
  padding: 0;
}

#updateFRM1 {
  margin-top: 25px;
}